mixin showEntries(entries)
    .entries
        if entries.length
            each entry in entries
                .entry
                    h3 #{entry.name}
                    hr
                    p #{entry.description}
                    p.browser= `Entry was made with ${entry.browser}`
                    p.created= `Created on ${new Date(entry.created)}`
                br
            else
                p= 'No Data to Display'
        