mixin showEntries(entries)
    .entries
        if entries.length
            each entry in entries
                .entry
                    h3 
                        a(href=`/entry/${entry._id}`) #{entry.name}
                    hr
                    -const desc = `${entry.description.slice(0, 60)}...`
                    p #{desc}
                    p 
                        a(href=`/entry/${entry._id}`) Show more details
                br
            else
                p= 'No Data to Display'
        